.headerContainer {
  height: 105px;
  margin: 0 auto;
  
  div {
    margin: 0 auto;

    // background: chartreuse;
    max-width: 700px;

    width: 46rem;
    
    display: flex;
    
    a {
      padding: 3rem 0 1.5rem;
      width: 238px;
    } 
  }   
}
